
START
PUSHI 0
PUSHI 0
PUSHI 10
STOREG 0

PUSHI 5
STOREG 1

PUSHG 0
WRITEF
PUSHS "\n"
WRITES

PUSHG 1
WRITEF
PUSHS "\n"
WRITES

PUSHG 0
PUSHG 1
SUP
JZ l0
PUSHG 0
PUSHG 1
SUB
WRITEF
PUSHS "\n"
WRITES
JUMP l0f
l0: NOP
PUSHG 1
PUSHG 0
SUB
WRITEF
PUSHS "\n"
WRITES
l0f: NOP

l1c: NOP
PUSHG 1
PUSHI 0
SUP
JZ l1f
PUSHG 1
PUSHI 1
SUB
STOREG 1

PUSHG 1
WRITEF
PUSHS "\n"
WRITES
JUMP l1c
l1f: NOP

STOP