
START

PUSHI 0
PUSHI 0
PUSHI 0
PUSHN 10
PUSHN 5
PUSHI 10
STOREG 0

PUSHI 20
STOREG 1

PUSHI 0
STOREG 2

PUSHGP
PUSHI 3
PADD
PUSHI 0
PUSHI 5
STOREN

PUSHGP
PUSHI 3
PADD
PUSHI 1
PUSHI 10
STOREN

PUSHGP
PUSHI 13
PADD
PUSHI 0
PUSHI 1
STOREN

PUSHGP
PUSHI 13
PADD
PUSHI 1
PUSHI 2
STOREN

PUSHGP
PUSHI 13
PADD
PUSHI 2
PUSHI 3
STOREN

PUSHGP
PUSHI 13
PADD
PUSHI 2
LOADN
PUSHGP
PUSHI 13
PADD
PUSHI 1
LOADN
ADD
STOREG 2

PUSHG 0
PUSHG 1
SUP
JZ l0
PUSHS "a é maior que b"
WRITES
l0: NOP

l1c: NOP
PUSHG 1
PUSHI 0
SUP
JZ l1f
PUSHG 2
PUSHI 1
ADD
STOREG 2

PUSHG 1
PUSHI 1
SUB
STOREG 1
JUMP l1c
l1f: NOP

PUSHS "Resultado de c: "
WRITES

PUSHG 2
WRITEF
PUSHS "\n"
WRITES

PUSHS "Primeiro valor de x: "
WRITES

PUSHGP
PUSHI 3
PADD
PUSHI 0
LOADN
WRITEF
PUSHS "\n"
WRITES

STOP